<h3 class="cp-results">Your search results</h3>
<div class="row item">
{{#each bootcamps as |bootcamp|}}
  <div class="col col-12 col-sm-6 col-lg-4">
    <div class="card text-center mb-3">
      <div class="card-body mb-3">
        <h5 class="card-title"> <a href="{{bootcamp_url}}">{{name}}</a></h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ limitText location}}</h6>
        <p class="card-text">{{limitText info}}</p>
        <a href="/bootcamp/{{id}}" class="stretched-link cp-detail-link"> View Rating and Comments</a><br />
      </div>
    </div>
  </div>
{{/each}}
